<ion-header>
  <ion-navbar>
    <ion-title>
      Things Board Demo
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card class="temp-card">
    <ion-card-header><ion-icon name="sunny"></ion-icon> Température </ion-card-header>
    <ion-card-content>
        <ion-range debounce="500" [(ngModel)]="temp" min="-50" max="150" color="primary" (ionChange)="onChangeTemp($event)">
            <ion-label range-left>-50 °C</ion-label>
            <ion-label range-right>150 °C</ion-label>
        </ion-range>
    </ion-card-content>
  </ion-card>
  <ion-card class="hum-card">
    <ion-card-header><ion-icon name="thermometer"></ion-icon> Humidité </ion-card-header>
    <ion-card-content>
        <ion-range debounce="500" [(ngModel)]="humidity" min="0" max="100" color="secondary" (ionChange)="onChangeHumidity($event)">
            <ion-label range-left>0%</ion-label>
            <ion-label range-right>100%</ion-label>
        </ion-range>
    </ion-card-content>
  </ion-card>
</ion-content>
